* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

#header .logo {
    width: 100px;
    height: 100px;
}

#header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header nav ul {
    display: flex;
    list-style: none;
}

#header nav ul li {
    margin-right: 28px;
    font-size: 20px;
    line-height: 80px;
}

#header nav ul li a {
    color: #000;
    text-decoration: none;
}

#header nav ul li a:hover {
    text-decoration: underline;
}


/* ==============SLIDER============== */

@font-face {
    font-family: sli-ti;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: sli-ita;
    src: url(../fonts/RobotoCondensed-Italic.ttf);
}

#slider {
    width: 100%;
    height: 600px;
    background-image: url('https://www.ford.es/content/dam/guxeu/rhd/central/cars/2020-mustang-mach-1/launch/billboards/Ford-Mach1-eu-SHOT_01_Mach_1_Exterior_Fr_3_4_Static_Hero_2-21x9-2160x925-NP_BB_D.jpg.renditions.original.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    padding: 100px 100px 0px 100px;
}

#slider h1 {
    font-family: sli-ti;
    font-size: 65px;
    color: #fff;
    font-weight: 800;
}

#slider h2 {
    font-family: sli-ita;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}


/* CSS footer */

#footer {
    height: 350px;
    background-color: black;
    padding-top: 50px;
}

.fot-1 {
    height: 200px;
}

.title-1 {
    max-width: 800px;
    text-align: center;
    margin-left: 350px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.title-1-1 {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.fot-2 {
    height: 100px;
    display: flex;
}

.title-2 {
    width: 70%;
    height: 100%;
}

.icon-2 {
    width: 30%;
    height: 100%;
}

.icon-2 i {
    line-height: 100px;
    font-size: 40px;
    width: 100px;
    color: #fff
}

.title-2 a {
    text-decoration: none;
    line-height: 100px;
    color: #bbbb;
    font-size: 19px;
    margin-left: 30px;
}

.title-2 a:hover {
    text-decoration: underline;
}


/* CSS */

.but {
    padding: 50px 500px 50px 700px;
}

.button-17 {
    align-items: center;
    appearance: none;
    background-color: rgb(0, 0, 0);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    text-decoration: none;
}

.button-17:hover {
    background: #F6F9FE;
    color: #4a6fb2;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #175cd4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


/* ====================== */


/* CSS */

.but1 {
    padding: 70px 50px 50px 300px;
}

.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #000000;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #a9a9a915;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

@font-face {
    font-family: clh;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: fa;
    src: url(../fonts/batmfa__.ttf);
}

.carline {
    background-color: #000;
    text-align: center;
    height: 300px;
}

.carline h1 {
    font-family: fa;
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    padding: 50px;
}

.carline h3 {
    font-family: clh;
    font-size: 35px;
    color: #fff;
    padding-bottom: 30px;
    font-weight: 900;
}

.line {
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    width: 600px;
}

.b1 {
    width: 100%;
    display: flex;
    padding: 50px 120px 10px 120px;
}

.b1l {
    width: 50%;
}

.b1r {
    width: 50%;
}

.img {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

.titleitem {
    text-align: center;
    padding: 20px;
    font-family: sli-ti;
    width: 40%;
    margin: 0 auto;
}

.titleitem:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
}

.titleitem a {
    text-decoration: none;
    font-family: sli-ti;
    color: #000;
}

.titleitem a:hover {
    text-decoration: underline;
}